@font-face {
  font-family: Abel;
  src: url(../fonts/abel-v12-latin-regular.woff);
}

body {
  margin: 0;
  font-family: Abel;
}

html {
  min-width: 100%;
}

header {
  min-width: 100%;
}

header .title-background {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--image);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

header .title-background .header-title {
  padding: 0 5px;
  background: #373737;
  color: white;
  font-stretch: extra-expanded;
  font-weight: lighter;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  font-size: 2rem;
}

header .title-background .header-title p {
  margin: 5px;
}

header .title-background .header-image {
  margin: 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header .header-links {
  background-color: black;
  height: 100%;
  padding: 2em 1em;
}

header .header-links a {
  display: block;
  margin: 5px 0;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.content-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

nav {
  padding: 20px;
}

nav ul {
  border-top: 2px solid black;
  padding: 15px 0 0 0;
}

nav ul li {
  padding: 8px 12px;
  border: 2px solid black;
  list-style: none;
  margin-top: 10px;
  cursor: pointer;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  background: black;
}

nav ul li:hover a {
  color: white;
}

.shop-grid {
  padding: 10px 10px  0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-rows: 250px;
      grid-template-rows: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.card {
  background-color: whitesmoke;
  overflow: hidden;
  min-width: 185px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 175px 75px;
      grid-template-rows: 175px 75px;
  -webkit-box-shadow: -5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: -5px 5px rgba(0, 0, 0, 0.6);
}

.card img {
  height: 175px;
  width: 100%;
}

.card .label {
  background-color: white;
  padding: 10px;
}

.card .label .text-box {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .label .text-box .image-node {
  background-color: lightblue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.card .label .text-box h4 {
  margin: 0;
  font-size: 1em;
}

.card .label .text-box .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .label .text-box .rating button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.card .label .text-box .rating button img {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  height: 20px;
  width: 20px;
}

footer {
  height: 75px;
  min-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 3px solid black;
}

footer p {
  padding-left: 2rem;
  width: 100%;
}

footer p a {
  color: black;
}

footer div {
  border-left: none;
}

footer div button {
  height: 100%;
  width: 30vw;
  border: none;
  cursor: pointer;
  outline: none;
  padding-bottom: 37.5px;
}

footer div button img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  margin-top: 10px;
  height: 25px;
  width: 25px;
}

@media only screen and (min-width: 120px) {
  .shop-grid {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-column-gap: 5px;
            column-gap: 5px;
    -ms-grid-rows: 250px;
        grid-template-rows: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 10px;
  }
}



@media only screen and (min-width: 420px) {
  .shop-grid {
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -ms-grid-rows: 250px;
        grid-template-rows: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}

@media only screen and (min-width: 790px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20vw;
        grid-template-columns: auto 20vw;
  }
  header .title-background {
    padding: 5px 0;
    border-right: 1px solid black;
  }
  header .title-background .header-title {
    padding: 0 15px 0 5px;
    -webkit-transform: translateY(125px);
            transform: translateY(125px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .title-background .header-title p {
    margin: 25px 0 10px 0;
  }
  header .title-background .header-image {
    margin: 20px 20px;
    height: 150px;
    width: 150px;
  }
  header .header-links {
    height: 100px;
    width: 100px;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    padding: 0.5em;
  }
  header .header-links a {
    margin: 0 0;
  }
  .content-body {
    -ms-grid-columns: auto 20vw;
        grid-template-columns: auto 20vw;
  }
  .shop-grid {
    padding: 30px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-rows: 450px;
        grid-template-rows: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 50px;
  }
  .card {
    width: 100%;
    -ms-grid-rows: 350px 100px;
        grid-template-rows: 350px 100px;
  }
  .card img {
    height: 350px;
  }
  .card .label .text-box .image-node {
    height: 30px;
    width: 30px;
  }
  .card .label .text-box h4 {
    font-size: 2em;
  }
  .card .label .text-box .rating button img {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    height: 20px;
    width: 20px;
  }
  nav {
    padding: 0;
  }
  nav ul {
    border: none;
    border-left: 1px solid black;
    padding: 100px 0 150px 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-before: 10px;
            margin-block-start: 10px;
    height: calc(100% - 150px);
  }
  nav ul li {
    border: 1px solid black;
    border-left: none;
    list-style: none;
    margin-top: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer {
    height: 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20vw;
        grid-template-columns: auto 20vw;
  }
  footer p {
    margin-top: 75px;
    padding-left: 5rem;
  }
  footer div {
    border-left: 1px solid black;
  }
  footer div button {
    width: 100%;
  }
}